@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:ital,wght@1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    font-family: "Poppins",sans-serif;
}

.main-nav{
    
    display: flex;
    justify-content: space-between;
    align-items:center;
    border-bottom-style: solid;
   
   
}
.logo{
    width: 100px;
    height: 80px;
    margin-left: 45%;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
 
   
}

.nav-links ul{
    gap: 18px;
    cursor: pointer;
    
}

.nav-item.active{
    color:rgb(150, 83, 83);
}

.hover-link:hover{
    color: rgb(137, 24, 24);
}

.search-bar{
    margin-right: 5%;
}

.news-input{
    font-family: "Roboto",sans-serif;
}

main{
    padding-block:20px;
    margin-top:5%;
    
    
}



.cards-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 20px;
    display: flex;
    align-items: start;
   
}

.card{
    width: 300px;
   min-height: 380px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    margin:20px;
}

.card:hover{
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px);
}

.card-header img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content{
    padding: 12px;
}

.news-source{
    margin-block: 12px;
}

#Read{
    margin-top: 20px;
    align-items: flex-end;

}

